.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 5px;
    border-color: transparent;
    padding: 8px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #cf8d12 !important;
    border-color: #df9b08 !important;
  }
  
  .Button:active {
    background-color: #cf8d12 !important;
    border-color: #df9b08 !important;
  }
  
  .Button:focus {
    background-color: #cf8d12 !important;
    border-color: #df9b08 !important;
    box-shadow: 0 0 0 .2rem rgba(219, 151, 4, 0.315) !important;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 85%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Yellow:hover {
    background-color: #cf8d12;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: #2142b2;
  }
  
  .Black,
  .BlackOutline:hover {
    /* background-color: #242a3d;
    color: white; */
    background-color: #242a3d;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    /* background-color: #dadadf;
    color: #242a3d;
    border-color: #242a3d; */
    background-color: aliceblue;
    color: #242a3d;
  }
  
  .Yellow {
    background-color: #ffc107;
    color: #000000;
  }

  .TagButton{
    border-radius: 15px;
    font-size: 90%;
  }

  .Large{
    font-size: 130%;
  }

  .Red{
    
    background-color: rgb(252, 61, 61);
  }

  .Red:hover{
    background-color: rgb(252, 61, 61);
  }

  .Red:focus{
    background-color: rgb(252, 61, 61);
    border-color: #fa8989;
    box-shadow: 0 0 0 .1rem #f55454;
  }

  .Delete{
    margin-left:auto;
    margin-right: 15px;
    
   
  }
  