.Container {
    max-width: 90%;

}

.SearchRow {
    background-image: url(../assets/img/bg.webp);
    background-position: center;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchInputGroup {
    max-width: 600px;
}

.SearchInput:focus {
    border-color: #f0ac19;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(240, 161, 15, 0.25);
}

.SearchButton {
    background-color: #c65c14;
    color: white;
}


.SearchInputGroup .btn {
    height: calc(1.5em + 0.75rem + 2px);
}

.CreateRecipeBox {
    background-color: #ebebebea;
    border-radius: 8px;
}