.ProfileImage {
  object-fit: cover;
  height: 150px;
  width: 150px;
  margin: 4px;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }
}

.Username {
  margin: 4px;
}

@media screen and (max-width: 991px) {
  .UserBio {
    font-size: 1rem;
  }
}