

.RecipeCard {
    max-height: 400px;
    
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.RecipeCard img {
    height: 250px;
    object-fit: cover; 
    width: 100%;
}

.CardBottom{
    display: flex;    
   justify-content: space-between;
   align-items: center;
    
}


.RecipeCard:hover {

    transform: scale(1.01);
}

.Stars {
    color: #ffd700;
}

.TagsText{
    background-color: #ebc76b;
    border-radius: 10px;
}

.Headings {
    text-decoration: underline;
    
}
.HeartButton{
    padding: 0px; 
    
    
}

.HeartButton:hover{
    cursor: pointer;   
    box-shadow: none !important;
}
.HeartButton:focus{
    
    box-shadow: none !important;
}

.RecipePageImage{
    max-height: 400px;
    max-width: 100%;
}

.RecipeSummary{
    position: relative;
    
}

.RecipePageImageContainer{
    text-align: left;
    @media (max-width: 768px) {
        text-align: center;
    }
}

.RatingCounter{
    vertical-align: middle;
    font-size: 1.3rem;
}